@model stages.Models.Convention

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Convention</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujetmemoire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujetmemoire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datesignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datesignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtuIdfetudiantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtuIdfetudiantNavigation.Idfetudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfenseignantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfenseignantNavigation.Idfenseignant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfetudiantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfetudiantNavigation.Idfetudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NopropositionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NopropositionNavigation.Noproposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProNopropositionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProNopropositionNavigation.Noproposition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Noconvention">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
