@model IEnumerable<stages.Models.Convention>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sujetmemoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datedebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datesignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtuIdfetudiantNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfenseignantNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfetudiantNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NopropositionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProNopropositionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sujetmemoire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datedebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datesignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtuIdfetudiantNavigation.Idfetudiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfenseignantNavigation.Idfenseignant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfetudiantNavigation.Idfetudiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NopropositionNavigation.Noproposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProNopropositionNavigation.Noproposition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Noconvention">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Noconvention">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Noconvention">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
