@model stages.Models.Entreprise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entreprise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomentreprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomentreprise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfenseignantNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfenseignantNavigation.Idfenseignant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Noentreprise">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
