@model IEnumerable<stages.Models.Entreprise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomentreprise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdfenseignantNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomentreprise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdfenseignantNavigation.Idfenseignant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Noentreprise">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Noentreprise">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Noentreprise">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
