@model stages.Models.Propositionsstage

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Propositionsstage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujetpropose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujetpropose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateproposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateproposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remuneration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remuneration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNoconventionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNoconventionNavigation.Noconvention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoconventionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoconventionNavigation.Noconvention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoentrepriseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoentrepriseNavigation.Noentreprise)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Noproposition" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
