@model stages.Models.Etudiant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Etudiant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nometudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nometudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenometudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenometudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNoconventionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNoconventionNavigation.Noconvention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoconventionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoconventionNavigation.Noconvention)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idfetudiant">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
